<header class="header">
    <div class="row">
        <h1 class="col-md-10">
            <i class="fa fa-user"></i>
            Usuário 
        </h1>
        <div class="col-md-2 offset-md-2">
            <button onclick="window.location = 'edituser'" class="btn btn-primary">Editar dados</button>
            <button onclick="window.location = '/deleteuser/<%- user[0].idusuario %>'" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Excluir conta</button>
        </div>
    </div>
</header>
<main class="container-fluid nopadding">
    <div class="content">
        <div class="row">
            <% if(desaparecidos.length === 0) { %>
                <p>Você não cadastrou nenhum desaparecimento. Se desejar cadastrar, clique <a href="/register">aqui</a>.</p>
            <% } else { %>
                <% for (let i = 0; i < desaparecidos.length; i++) { %>
                    <div class="col-sm-6 col-md-4 teste">
                        <div class="desaparecido">
                            <a href="/page/<%- desaparecidos[i].iddesaparecido %>">
                                <p class="nome"><%- desaparecidos[i].nome %></p>
                                <div class="foto">
                                    <img src="/data:image/jpg" alt="Foto desaparecido" class="f" />
                                </div>
                                <div class="descricao">
                                    <p class="desaparecidoem">Desaparecido(a) em: <%- desaparecidos[i].dataultimo %></p>
                                    <p class="cidade">Cidade: <%- desaparecidos[i].cidadedes %></p>
                                </div>
                            </a>
                        </div>
                    </div>    
                <%}%>
            <%}%>
        </div>
    </div>
</main>